/* General Rules */
:root{
 --main-color:#97FEED;
 --color-txt: #40128B;
 --primary-color:#DD58D6;
 --secondary-color:#97FEED;
 --red-color:#f00;
 --white-color:#fff;
}
body{
    direction: rtl;
    background: #f3f3f3;
    color: var(--color-txt);
    min-height: 2500px;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-txt);
    outline: 1px solid var(--primary-color);
    
}
::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
table th{
    white-space: nowrap;
}
table{
    caption-side: top;
}
table caption{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
/* My Keyframes */
.d-center{
 display: flex;
 justify-content: center;
 align-items: center;
}
/* header-section */
.header .main-nav {
    background: #fff;
}
.header a {
    color: #40128B;
}
.header .logo span{
    color: #6200ff;
}
.header .username .div-hov, .header .icon-nav .div-icon .div-hov{
    background: #fff;
}
.header .username .div-hov a{
    transition: 0.2s;
}
/* main-page */
.main-page{
    margin-top:15px;
}
.notediv{
    width: max-content;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
@media (max-width: 355px){
    .filter {
        width: 100%;
    }
}
.waste{
    display: none;
}
.content-num,.sortdata{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.content-num > div{
    border-radius: 10px;
    color: #fff;
}
.content-num > div:hover{
    opacity: 0.9;
}

.quickInfo{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 10px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
}

.quickInfo > div{
    height: max-content;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.5s linear;
}
.quickInfo > div .info{
    padding-bottom: 10px;
    border-bottom: 5px solid #fe9365;
}
.quickInfo > div:hover{
    transform: scale(1.03);
}
.quickInfo > div span:first-of-type{
    font-size: 18px;
    font-weight: bold;
    color: #fe9365;
}
.quickInfo > div .change{
    padding: 10px 0;
}
.quickInfo > div:nth-child(4n+2) span:first-of-type{
    color: #0ac282;
}
.quickInfo > div:nth-child(4n+2) .info{
    border-color: #0ac282;
}
.quickInfo > div:nth-child(4n+3) span:first-of-type{
    color: #fe5d70;
}
.quickInfo > div:nth-child(4n+3) .info{
    border-color: #fe5d70;
}
.quickInfo > div:nth-child(4n+4) span:first-of-type{
    color: #01a9ac;
}
.quickInfo > div:nth-child(4n+4) .info{
    border-color: #01a9ac;
}

/* sortdata */
.sortdata{

}
.tabletitle{
    font-size: 18px;
    font-weight: bold;
    width: max-content;
    margin: auto;
    padding: 5px;
    border-bottom: 5px solid #40128B;
    margin-bottom: 10px;
}

aside,.contacts{
    position: fixed;
    top: 50px;
    right: 0;
    width: 280px;
    height: calc(100vh - 50px);
    background: #f3f3f3;
    overflow-y: auto;
}
aside{
    z-index: 100;
    
}
.aside,.aside-cont{
    margin: 25px 10px 5px;
    padding: 10px;
    color: #00f;
    font-weight: bold;
    font-size: 20px;
}
.aside li,.aside-cont li{
    padding: 10px 10px 10px 0;
    margin: 5px 0;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: relative;
}
.aside li:hover{
    background-color: #00000020;
}
.contacts{
    z-index: 101;
}
.aside-cont{
    font-size: 17px;
    margin: 10px 0px 15px;
}
.contacts .note-con{
    display: inline-block;
}
.contacts .div-cont{
    width: fit-content;
    position: absolute;
    bottom : 35px;
    left: 25px;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    background: #198754;
    color: #fff;
}
.contacts .left-line{
    width: 100%;
    margin: 30px 0 10px;
    display: flex;
    justify-content: left;
    padding-left: 15px;
}
.contacts .left-line i {
    cursor: pointer;
}
.notifications{
    position: relative;
}
.notifications::before{
    content: "4";
    width: 25px;
    height: 25px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    background: #f00;
    color: #fff;
    position: absolute;
    top:0px;
    right: 6px;
    animation: trans 1s linear  infinite  alternate;
}
@keyframes trans {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}